
*{padding: 0;margin: 0}
#main-img{
    width: 100%;
    background:url("image/body_001.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
body{
    font-size: 16px;
    color: #000;
}
.all-imgs{
    width: 100%;
    height: 100%;
}
#img-center{
    width: 86%;
    height: 28%;
    background: url(image/blond_center.png);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 42%;
    left: 7%;
}
.img-text{
    width: 88%;
    height: 86%;
    background: url(image/juxing_center.png);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 6%;
    left: 6%;
}
/* #img-center{
     width: 80%;
     height: 55%;
     position: absolute;
     overflow: hidden;
     top:42%;
     left:10%;
 }
 .img-text{
     width: 88%;
     height: 97%;
     position: absolute;
     top: 3%;
     left: 6%;
 }*/
.img-text-b{
    width: 90%;
    height: 85%;
    background: url(image/text_a.png) no-repeat -20px -14px;
    /* -webkit-background-size: cover; */
    /* background-size: cover; */
    position: absolute;
    top: 5%;
    left: 5%;
}
.fire-flower{
    width: 20%;
    height: 7%;
    background: url(image/fire_flower-d.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 57%;
    right: 0;
}
.fire-flower-r{
    width: 14%;
    height: 9%;
    background: url(image/fire_flower-d.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 71%;
    left: 6%;
}

.fire-flower-d{
    width: 26%;
    height: 70%;
    background: url(image/fire_flower_b.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 31%;
    left: -2%;
}
.fire-flower-f{
    width: 21%;
    height: 21%;
    background: url(image/flower_tf.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 22%;
    left: -2%;
}
.fire-flower-h{
    width: 36%;
    height: 6%;
    background: url(image/flower_ft.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 26%;
    left: 63%;
}
#input-img{
    width: 60%;
    height: 7%;
    background: url(image/input_img.png) repeat-y 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 20%;
    bottom: 19%;
}
#input-text{
    width: 29%;
    height: 3%;
    background: url(image/input_text.png);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 35%;
    bottom: 21%;
}
.input{
    /* margin-left: -27%; */
    width: 84%;
    height: 71%;
    position: absolute;
    left: 8%;
    bottom: 28%;
    border: 0;
    outline: 0;
}
#input-button{
    background: url(image/button_button.png) repeat-y 0 0;
    width: 60%;
    height: 6%;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 20%;
    bottom: 13%;
}
.button-text{
    background: url(image/button_text.png) repeat-y 0 0;
    width: 24%;
    height: 4%;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 37%;
    bottom: 14%;
}
.star{
    width: 30%;
    height: 3%;
    background: url(image/small_star.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 18%;
    left: -8%;
}
.star-t{
    width: 31%;
    height: 3%;
    background: url(image/small_star.png) no-repeat -10px -10px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 8%;
    left: 77%;
}
.star-d{
    width: 31%;
    height: 3%;
    background: url(image/small_star.png) no-repeat -10px -10px;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 6%;
    left: 9%
}

.text-left{
    width: 32%;
    height: 3%;
    background: url(image/text_left.png)no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 10%;
    left: 31%;

}
.text-right{
    width: 32%;
    height: 3%;
    background: url(image/text_right.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 10%;
    right: 31%;
}
#text-buttom-a{
    width: 10%;
    height: 2%;
    position: absolute;
    background: url(image/bottom_a.png) no-repeat;
    /* -webkit-background-size: cover; */
    background-size: cover;
    bottom: 4%;
    left: 23%;
}
#text-buttom-b{
    width: 39%;
    height: 2%;
    background: url(image/bottom_b.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 4%;
    right: 23%;
}
.bottom-left{
    width: 12%;
    height: 7%;
    opacity: 0.5;
    background: url(image/bottom_left.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.bottom-right{
    width: 16%;
    height: 7%;
    opacity: 0.5;
    background: url(image/bottom_right_a.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.text-img-a{
    width: 24%;
    height: 35%;
    background: url(image/text_title.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 36%;
    top: 16%;
    z-index: 99;
}
.text-img-b{
    width: 43%;
    height: 30%;
    background: url(image/text_id.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    left: 27%;
    top: 55%;
    z-index: 99;
}
