
*{margin: 0;padding: 0;}
body{
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: #454545;
    background: #ffffff;
}
ul li{
    list-style: none;
}
#head{
    height: 30px;
    width: 100%;
    background: #fafafa;
}
#center{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}
#head-left{
    width: 290px;
    height: 30px;
    float: left;
    /*background: #6fb5ae;*/
}
#head-right{
    /*width: 290px;*/
    height: 30px;
    float: right;
    /*background: #35aeff;*/
}
a{
    text-decoration: none;
    color: #454545;
    display: inline-block;
}
#ul .li{
    float: left;
    list-style: none;
    padding: 0 10px 0 10px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    z-index: 999;
}
#city{
    width: 350px;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    position: absolute;
    top: 30px;left: 0px;
    display: none;
}
#small-city{
    width: 93px;
    height: 1px;
    background: #fafafa;
    position: absolute;
    top: -1px;left: 0;
}

#city li {
    float: left;
    list-style: none;
}
#city a{
    /*display: inline-block;*/
    width: 42px;
    height: 30px;
    line-height: 30px;
    padding: 4px 8px;
}
.li-toCity:hover{
    background: #fafafa;
    color: red;
}
.li-toCity:hover #city{
    display: block;
}

#photo-top{
    display: inline-block;
    width: 100%;
    height: 64px;
    margin: 0 auto;
}

.head-photo{
    height: 64px;
}
#head-right-ul .ul-li{
    float: left;
    padding:0 8px 0 8px;
    position: relative;
    z-index: 900;
    line-height: 30px;

}
#head-right-ul a{
    line-height: 30px;
}
#get-up,#set-in{
    color:red;
}
#my-leta-ul{
    position: absolute;
    top:30px;
    left: -234px;
    width:300px;
    background: #ffffff;
    border:1px solid #e0e0e0;
    padding: 5px;
    display: none;
}

.leta-ul a:hover{
    color:#d10042;
}
.leta-ul:hover{
    background: #ffffff;

    border:1px solid #e0e0e0;
}

.leta-ul:hover #my-leta-ul{
    display: block;
}
#my-leta-left{
    width: 50%;
    float: left;
}
#my-leta-right{
    width: 50%;
    float: right;
}
.my-leta-ul-ul {
    border-right: 1px solid #454545;
    margin: 2px;
}
.my-leta-ul-ul li{
    text-align: center;
}
.my-leta-ul-ula li{
    text-align: center;
}
#message{
    background: #ffffff;
    width: 128px;
    border: 1px solid #f1f1f1;
    position: absolute;
    padding: 8px 0 0 0;
    top:30px;
    left:0px;
    display: none;
}

.li-list:hover #message{
    display: block;
}
.li-list a:hover{
    color:#d10042;
}
.li-list:hover{
    background: #ffffff;
}

#message li{
    text-align: center;
    padding:4px 8px;
}
#head-fixed{
    background: #252935;
    height: 100%;
    width: 35px;
    position: fixed;
    top: 0%;right: 0%;
    z-index: 10000;
}
#top-center-find{
    width: 100%;
    background: #ffffff;
    /*position: relative;*/
    /*clear: both;*/
    z-index: 900;
}
#center-auto{
    width: 1200px;
    height: 90px;
    position: relative;
    clear: both;
    margin: 0 auto;
    background: #ffffff;
}
#logo{
    float: left;
    margin-left:20px;
    margin-top: 22px;
}
#find-input{
    float: left;
}
#find{
    border: 3px solid #e22421;
    width: 480px;
    height: 30px;
    position: relative;
    margin-top: 22px;
    margin-left: 60px;

}
#input{
    width: 100%;
    height: 30px;
    display: inline-block;
    float: left;
    border: 0;
    outline: none;
}
#btn{
    border: 3px solid #e22421;
    float: right;
    height: 30px;
    width: 88px;
    position: absolute;
    left: 395px;
    top:0;
    background: #e22421;
    color: #ffffff;
    font-size: 16px;
}
#bottomText{
    margin-left: 60px;
    margin-top: 10px;
}
#bottomText a{
    padding: 0 5px 0 0;
}
#center-right{
    float: left;
    margin-top: 22px;
    font-size: 12px;
    height: 30px;
    color: #999;
    margin-left: 30px;
}
.a-s{
    margin: 0 10px 5px 0;
}
#head-bottom{
    width: 100%;
    height: 40px;
    background: #024693;
}
#auto-bottom{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}
.span-bg1{
    display: inline-block;
    width: 30px;
    height: 30px;
    background:url("image/small.png")no-repeat -5px -87px;
}
.span-bg2{
    display: inline-block;
    width: 30px;
    height: 30px;
    background:url("image/small.png")no-repeat -42px -87px;
}
.span-bg3{
    display: inline-block;
    width: 30px;
    height: 30px;
    background:url("image/small.png")no-repeat -79px -87px;
}
#all-list{
    height: 40px;
    background: #e22421;
    width: 200px;
    float: left;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    z-index: 800;
}
#list{
    position: absolute;
    top: 40px;
    left: -1px;
    width: 201px;
    height: auto;
    background: #f0f0f0;
    display: none;
}
#small-list1{
    width: 24px;
    height: 18px;
    display: inline-block;
    background:url("image/small.png")no-repeat -45px -60px;
}
#small-list2{
    width: 24px;
    height: 18px;
    display: inline-block;
    background:url("image/small.png")no-repeat -80px -60px;
}
#small-list3{
    width: 24px;
    height: 18px;
    display: inline-block;
    background:url("image/small.png")no-repeat -118px -60px;
}
.list-li{
    position: relative;
    margin-top: 20px;
    color: #454545;
}
.list-li-ul{
    width: 199px;
    height: 64px;
    padding: 19px 0 10px 0;
}
.list-ul-li{
    float: left;
    width: 58px;
    padding: 5px 0 0 5px;
    font-size: 12px;
}
.list-list-li{
    border-bottom: 1px dashed #333333;
    margin:0 20px 0 20px ;
    text-align: left;
    font-size: 14px;
}
.list-li-list1{
    width: 700px;
    height: 650px;
    background: #3cffe9;
    position: absolute;
    left: 202px;
    top:-19px;
    font-size: 12px;
    display: none;

}
.list-li-list2{
    width: 700px;
    height: 465px;
    background: #3cffe9;
    position: absolute;
    left: 202px;
    top:-171px;
    font-size: 12px;
    display: none;
}
.list-li-list3{
    width: 700px;
    height: 550px;
    background: #3cffe9;
    position: absolute;
    left: 202px;
    top:-325px;
    font-size: 12px;
    display: none;
}
.li-list-ul{
    float: left;
    margin: 0 40px 0 40px;
}
.li-list-ul-li{
    text-align: left;
    line-height: 15px;
    margin: 20px 0 20px 0;
}
#banner{
    /*width: 800px;*/
    height: 40px;


}
.clear:after{
    clear: both;
    display: block;
    content: "";
}
#banner .li{
    position: relative;
    z-index: 800;
    float: left;
    width: 144px;
    height: 40px;

}
#banner .li-a{
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}


#backgroundView img{
    width: 1200px;
    height: 475px;
    margin: 0 auto;
    position: absolute;
    top:0;left: 76px;
}
/*#content{*/
/*position: absolute;*/
/*}*/

#num-ul li{
    color: #fff7f9;
    text-align:center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: #040404;
    border:1px solid #040404;
    border-radius: 50%;
    margin-left: 20px;
    float: left;
}
#list-right{
    background: #ffffff;
    width: 188px;
    height: 475px;
    position: absolute;
    top: 40px;
    left: 90px;
    border:1px solid #cccccc;
    display: none;
}
#title{
    width: 169px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    float: left;
    color: #4c4c4c;

}
#list-right-ul{
    width: 190px;
    float: left;
    border-top: 1px solid #cccccc;
}
.right-a{
    height: 31px;
    width: 140px;
    line-height: 30px;
    margin-left: 10px;
}
.span-vip1{
    width: 36px;
    height: 36px;
    display: inline-block;
    background:url("image/small.png") no-repeat -112px -86px;
}
.span-vip2{
    width: 36px;
    height: 36px;
    margin-left: 3px;
    display: inline-block;
    background:url("image/small.png") no-repeat -149px -86px;
}
.span-vip3{
    width: 36px;
    height: 36px;
    display: inline-block;
    background:url("image/small.png") no-repeat -187px -86px;
}
.vip-a{
    width: 42px;
    height: 56px;
    margin: 8px 10px 0 10px;
}
.vip{
    width: 42px;
    height: 18px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}
.vip-li{
    float: left;
    border-top: 1px solid #cccccc;
    /*clear: both;*/
}
#shoes{
    width: 188px;
    height: 210px;
    margin-top: 78px;
    border-top:1px solid #cccccc;
}

.shoes-ul-li img {
    width: 246px;
    height: 267px;
}


.footer{
    height: 180px;
    width: 100%;
    background: #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    border-top:2px solid #f0f0f0;
}
.footer-center{
    height: 140px;
    width: 1200px;
    margin: 0 auto;
}
.footer-ul{
    border-right: 2px solid #ffffff;
    float: left;
    width: 198px;
    height: 140px;
}
.footer-li {
    margin-left: 40px;

}
.footer-li a{
    height: 30px;
    display: inline-block;
    line-height: 40px;
    text-align: left;
}
.nulldiv{
    height: 30px;

}
.footer-ul2 .btn-a{
    width: 135px;
    height: 35px;
    display: inline-block;
    border-radius: 5px;
    background: #e22421;
}
.phone-small{
    width: 26px;
    height: 34px;
    float:left;
    display: inline-block;
    background:url("image/small.png")no-repeat -7px -118px;
    margin-left: 15px;
}
.btn-text{
    height: 35px;
    line-height: 35px;
    float: left;
    color: #ffffff;
    display: inline-block;
}
.footer-ul2{
    float: left;
    width: 198px;
    height: 140px;
}
.footer-ul2:after{
    display: block;
    clear: both;
    content: '';
}
.footer-ul-ul{
    margin-top: 25px;
}
.phone{
    color:#e22421;
    font-size: 18px;

}
.bottom{
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background: #ffffff;
}
.bottom-center{
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
}
.bottom-list{
    margin-top: 15px;
    text-align: center;
}
.bottom-center p{
    margin-top: 20px;
    text-align: center;
}
.bottom-a{
    margin-right: 15px;
}

#box-body{
    width: 100%;
    height: auto;
    background: #ffffff;
    font-family: '方正小标宋简体',Arial,"Microsoft YaHei","微软雅黑",sans-serif;
}


#backgroundImg{
    background:url("image/banner.png") no-repeat center top;
    width: 100%;
    margin: 0 auto;
    height: 1000px;
    position: relative;
}
#btn-img{
    width: 180px;
    padding: 2px 12px 2px 12px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #000;
    font-size: 20px;
    position: absolute;
    bottom:330px;right: 135px;
    border:1px solid #000000;
    border-radius: 10px ;
    letter-spacing: 6px;
}
.news-title{
    text-align: center;
    width: 1200px;
    margin: 0 auto;

}
.news-title h1{
    font-size: 38px;
    font-family: Verdana;
    font-weight: normal;

}
.news-title h3{
    font-size: 26px;
    font-family: Verdana;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top:10px;
}

#news-list{
    width: 1150px;
    height: 400px;
    margin:0 auto 50px;
    border-radius: 20px;
    background: linear-gradient(to right,#A6A6A4,#C9C9C9);
}
#news-left{
    position: relative;
    width:760px;
    height: 400px;
    float: left;
    border-radius:20px 0 0 20px;
}
#news-right{
    position: relative;
    width:360px;
    height:350px;
    float: right;
    border-radius:0 20px 20px 0;
    padding-top:40px;
}
#newsView{

    width:760px;
    height: 400px;
    border-radius:20px 0 0 20px;
}
#newsContent{
    position: absolute;
    top:0;
    left:0;
    width:760px;
    height: 400px;
    border: 1px solid #ffffff;
    border-radius:20px 0 0 20px;

}
#news-ul{
    position: absolute;
    bottom:10px;
    left: 320px;
}
.newsLi{
    float: left;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: 3px;

}
.view{
    width:760px;
    height: 400px;
    border-radius:20px 0 0 20px;

    position: absolute;
    top:0;
    left:0;
}
.right-newsLi{
    font-size: 18px;
    line-height:42px;
}
.red-span{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #DB2E28;
}
.right-newsLi:hover .news-li-a{
    color: #DB2E28;
}
#timeEvent{
    width: 100%;
    height: 170px;
}
.timeEvent-center{
    width: 1200px;
    height: 170px;
    background:#ffffff;
    margin: 0 auto;
    position:relative;
}

.events{
    width: 20%;
    height: 168px;
    float: left;
    position:relative;
}
.eventLogo{
    width: 126px;
    height: 126px;
    border:1px solid #000000;
    border-radius: 50%;
    text-align: center;
    line-height: 126px;
}
.pp-time{
    width: 126px;
    text-align: center;
    margin-top: 22px;
}
.too{
    width: 20px;
    height: 20px;
    position:absolute;
    top:55px;
    left:178px;
    transform:rotate(45deg);
    background: #ffffff;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
}
.null-box{
    width: 100%;
    margin: 0 auto;
}
.title-bottom{
    width: 1200px;
    margin:0 auto;
}


.btn-btn{
    float: left;
}
.btn-btn-a{
    display: inline-block;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    background: #000000;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    color: #ffffff;
}
.btn-btn-li{
    width: 252px;
    height:33px;
    border:1px solid #000000;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}
#input-center{
    width: 204px;
    height:20px;
    padding: 6px 12px 6px 12px;
    border-radius:10px;
    border: 0;
    outline: none;
}
.btn-ul{
    width: 600px;
    height: 36px;
    margin: 0 auto;
}
#bottom-img{
    margin-top: 40px;
}
.textImg{
    width: 246px;
    height: 407px;
    background:#ffffff;
    float: left;
    margin: 0 44px 50px 0;
}
.imgaa{
    display: inline-block;
    width: 246px;
    height: 328px;
    border:1px solid #000000;
    border-radius: 20px;
}
.imgaa .imgs{
    border-radius: 20px ;
    width: 246px;
    height: 328px;
}

.namep{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background: #ffffff;
    margin: 5px 0 5px 0;
}
.buttons{
    display: inline-block;
    width: 95%;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
    border:1px solid #000000;
    border-radius:10px;
    background: #ffffff;
}
.forButton{
    display: inline-block;
    float: left;
}

.buttonNum{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.title-sign{
    border-bottom:1px solid #999999;
    width: 1200px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    margin: 0 auto;

}
#sign-body{
    width: 1200px;
    height: 491px;
    margin: 0 auto;
}
.sign-a{
    width: 22px;
    height: 22px;
    display: inline-block;

}
.sign-b{
    height: 22px;
    line-height: 2px;
}
.aa1{
     background:url("image/parterner_icon.gif")no-repeat 0 0;
 }
.aa2{
    background:url("image/parterner_icon.gif")no-repeat 0 0px;
}
.aa3{
    background:url("image/t360.gif")no-repeat 0 0;
}
.aa4{
    background:url("image/baidu.gif")no-repeat 0 0;
}
.aa5{
    background:url("image/qq.gif")no-repeat 0 0;
}
.aa6{
    background:url("image/SinaLogo.png")no-repeat 0 0;
}
#sign-ul li{
    float: left;
}
.td-left{
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.input-sign{
    height: 20px;
    width: 190px;
    border:1px solid #999999;
    border-radius: 5px;
    outline: none;
}
.password{
    height: 20px;
    width: 190px;
    border:1px solid #999999;
    border-radius: 5px;
    outline: none;
}
.sign-div{
    margin-top: 40px;
    width: 500px;
    border-bottom: 1px solid #999999;
}
#left-sign{
    margin-top: 40px;
    margin-left: 100px;

}
#sign-ul li{
    margin-top: 5px ;
}
.button-sign{
    width: 100px;
    height: 30px;
    background: #e22421;
    color: #ffffff;
    border: 0;
}
#button-sin{
    margin-top: 30px;
    margin-left: 50px;
}
#left-sign{
    width: 600px;
    border-right: 1px solid #999999;

}
