.head{
	width:100%;
	margin:0 auto;
}
.head-top{
	width:1000px;
	height:30px;
	line-height:30px;
	margin:0 auto;
	border-top:1px solid #b6b4b6;
	border-bottom:1px solid #e6e6e6;
}
.head-top a:hover{
	color:red;
}
.head-top-left{
	float:left;
}
.head-top-left li{
	float:left;
	margin-right:20px;
}
.head-top-right li{
	float:left;
}
.head-top-right-li{
	margin-left:200px;
}
#zhuche{
	display:inline-block;
	width:40px;
	height:12px;
	line-height:12px;
	border-right:1px solid black;
}

.kuaishudenlu a{
	display:inline-block;
	width:24px;
	height:24px;
	
	background-image:url("../img/y_share.png");
	margin:4px 5px 0 0;
}
.kuaishudenlu span{
	display:inline-block;
	vertical-align:top;
	height:12px;
	line-height:12px;
	margin:8px 10px 8px 20px;	
}
.kuaishudenlu .weixin{
	background-position:0 -1px;
}
.kuaishudenlu .QQ{
	background-position:0 -72px;
}
.kuaishudenlu .xinlan{
	background-position:0 -38px;
}
.head-middle{
	width:100%;
	height:90px;
	/*background:blue;*/
	border-bottom:1px solid #e6e6e6;
	margin-bottom:18px;
}
.logo{
	display:inline-block;
	height:46px;
	width:160px;
	float:left;
	margin:20px 0 20px 180px;
	background-image:url("../img/bbs-logo.png");
}
.shousuo{
	float:right;
	width:388px;
	height:64px;
	margin:8px 183px 12px 0;
	/*background:orange;*/
}
button{
	height:36px;
}
input{
	width:280px;
	height:32px;
	vertical-align:top;
}
.sskuan{
	padding-left:20px;
}
.shousuo-1 .form{
	width:386px;
	height:34px;
	border:1px solid #f0f0f0;
	border-right:none;
}
.shousuo-2{
	width:386px;
	height:32px;
}
.shousuo-2 a{
	display:inline-block;
	margin:6px 20px 0px 0px;
	vertical-align:middle;
}
.shousuo-2 a:hover{
	color:red;
}
.head-bottom{
	width:1000px;
	height:40px;
	background:#2d9be8;
	margin:0 auto;
}
/*.head-bottom-1{
	width:1000px;
	height:40px;
}*/
.head-bottom-1 li{
	display:inline-block;
	width:117px;
	height:40px;
	line-height:40px;
	font-size:16px;
	text-align:center;
	float:left;	
}
.head-bottom-1 li a{
	color:#fff;
}
.head-bottom-1 .head-bottom-1-fisrt{
	width:85px;
	background:#1c7ec5;
}
.head-bottom-1 .head-bottom-1-two{
	width:85px;
	background:#2d9be8;
}
.head-bottom-1 li:hover{
	background:#1c7ec5;
}
.hota{
	position:relative;
}
.hot{
	display:inline-block;
	width:23px;
	height:14px;
	position:absolute;
	top: 0;
    right: -1px;
	background:url("../img/bbs-index-bg.png") no-repeat -427px -175px;
}