.side{
	width:305px;
	/*height:650px;*/
	display:inline-block;
	position:fixed;
	left:-240px;
	top:30px;
	z-index:20;
}

.pic20{
	display:block;
	
	background-image:url("../img/bg.png");
	background-position:0px -110px;
	width:64px;
	height:85px;
	position:absolute;
	top:190px;
	right:0px;
	
}
.side-box{
	width:240px;
	height:580px;
	position:absolute
	left:0;
	top:0;
	background:#fff;
}
.side:hover{
	left:0px;
	transition:1s;
}
.side:hover .pic20{
	background-position:-66px -110px;
}
.side-2{
	width:220px;
	height:44px;
	font-weight:normal;
	border-bottom:1px solid #eef6fb;
	font-size:16px;
	line-height:44px;
	padding-left:40px;
	position:relative;
}
.fire{
	display:inline-block;
	position:absolute;
	top:10px;
    left:10px;
    width:14px;
    height:19px;
    background-image:url("../img/bg.png");
    background-position: -35px 0;
}
.side-3{
	width:220px;
	height:90px;
	border-bottom:1px solid #eef6fb;
	padding:10px;
}
.side-3 a{
	font-size:12px;
	display:inline-block;
	margin:5px 3px;
	height:16px;
	line-height:16px;
	padding-right:5px;
	border-right:1px solid #eaeef0;
	position:relative;
}
.side-3 a:hover{
	text-decoration:underline;
}
.side-4{
	width:240px;
	
}
.side-4>li{
	height:44px;
	position:relative;
	border-bottom:1px solid #eef6fb;
}
.side-4>li:hover{
	background:#3ea8f1;
}
.side-4>li:hover #one{
	color:#fff;
}
.side-4 li>a{
	display:inline-block;
	width:150px;
	margin-left:5px;
	font-size:16px;
	line-height:44px;

}
.side-4 li>span{
	display:inline-block;
	background-image:url("../img/bg.png");
}
.li-11{
	margin-top:16px;
	margin-left:15px;
	margin-right:10px;
	width:17px;
	height:14px;
	background-position:-51px 0px;
}
.li-12{
	margin-top:15px;
	margin-left:15px;
	margin-right:10px;
	width:13px;
	height:19px;
	background-position:-70px 0px;
}
.li-13{
	margin-top:15px;
	margin-left:15px;
	margin-right:7px;
	width:18px;
	height:14px;
	background-position:-106px 0px;
}
.li-14{
	margin-top:15px;
	margin-left:15px;
	margin-right:5px;
	width:19px;
	height:13px;
	background-position:-85px 0px;
}
.li-15{
	margin-top:15px;
	margin-left:15px;
	width:24px;
	height:16px;
	background-position:-147px 0px;
}
.li-16{
	margin-top:15px;
	margin-left:15px;
	margin-right:5px;
	width:19px;
	height:15px;
	background-position:-126px 0px;
}
.li-17{
	margin-top:15px;
	margin-left:15px;
	margin-right:5px;
	width:20px;
	height:16px;
	background-position:-172px 0px;
}
.li-18{
	margin-top:15px;
	margin-left:15px;
	margin-right:7px;
	width:18px;
	height:14px;
	background-position:-193px 0px;
}
.li-19{
	margin-top:15px;
	margin-left:15px;
	margin-right:7px;
	width:17px;
	height:17px;
	background-position:-213px 0px;
}
.li-21,.li-23,.li-24,.li-26{
	display:none;
	width:565px;
	padding-bottom:20px;
	position:absolute;
	left:240px;
	top:0px;
	background:#fff;
}
.li-1:hover .li-21{
	display:block;
}
.li-3:hover .li-23{
	display:block;
}
.li-4:hover .li-24{
	display:block;
}
.li-6:hover .li-26{
	display:block;
}
.li-21 h2,.li-23 h2,.li-24 h2,.li-26 h2{
	width:520px;
	height:45px;
	background:#eef7fe;
	font-weight:normal;
	font-size:16px;
	line-height:45px;
	padding-left:45px;
}
.li-a>a{
	display:inline-block;
	font-size:14px;
	margin:5px 10px;
	padding-left:5px;
	height:14px;
	line-height:14px;
	text-align:center;
	border-left:1px solid #ccc;
}
#one{
	border:none;
}