/* 导航轮播图 */
#nav_right{
		width: 863px;
		position:relative;
		left:224px;
		top:12px;
}
.slider-box{
		height: 360px;
		position:relative;
}
.slider{
		width:863px;
		height:360px;
		position:absolute;
		top:0;
		left:0;
		transition:0.5s;
		opacity:0;
}
.slider img{
		width: 863px;
		height:360px;
}
.list-dd{
		position:absolute;
		left:30%;
		top:90%;
		margin-left:100px;	
	}
.list-dd li{
		width: 10px;
		height: 10px;
		border-radius:50%;
		float: left;
		background:white;
		transition:0.5s;
		margin-right:12px;
	}
#nav_right span{
		width: 40px;
		height: 40px;
		background-color:rgba(200,200,200,0.7);
		color: white;
		position: absolute;
		font-size:26px;
		top: 45%;
		text-align: center;
		line-height:40px;
		border-radius:50%;
}
#nav_right span:hover{
	background-color:#9f8052 ;
	color: white;
}
.prev{
		left: 0;
}
.next{
		right: 0;
}