/* 右侧滚动条 */
#Right-scroll{
	height:390px;
	width:82px;
	position:fixed;
	top: 30%;
	right:1%;
	border: 1px solid #efeeee;
	box-shadow: 0 0 30px #ccc;
}
#Right-scroll ul{
	margin-left: 2px;
	
}
#Right-scroll li{
	border-bottom: 1px solid #e7e7e7;
	float: left;
	position:relative;
}
#Right-scroll a{
	font-size:12px;
	color:black;
}
#Right-scroll li img{
	float: left;
	margin:13px 0 0 23px;
}
#Right-scroll .scroll_p{
	width: 80px;
	height: 23px;
	float: left;
	margin-bottom:11px;
	margin-top:4px;
	text-align: center;
}
/* 右侧li 滑动出现div */
#Right-scroll div{
	display: none;
}
#Right-scroll a:hover{
	color: #845f3f;
}

#Right-scroll li:hover div{
	display: block;
}
/* 联系客服 */
#scroll_div1 {
	width:230px;
	position:absolute;
	top:0;
	left:-240px;
	border: 1px solid #dfdfdf;
	background:white;

}
#scroll_div1 .s1{
	width: 193px;
	height: 245px;
	margin: 0 0 0 20px;
	text-align: center;
}
#scroll_div1 .s1 p{
	font-size: 13px;
	margin-top: 10px;
}
#scroll_div1 .s1 span{
	font-size: 12px;
	color: gray;
}

/* 下载 */
#scroll_div2 {
	width:130px;
	position:absolute;
	top:0;
	left:-140px;
	border: 1px solid #dfdfdf;
	background: white;
}
#scroll_div2 .div2_top{
	background-image:url(../img/下载二维码.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 130px;
	height: 110px;
	float: left;
}
#scroll_div2 .div2_bottom{
	width: 130px;
	height: 46px;
	float: left;
	text-align: center;
	line-height: 18px;
	font-size: 12px;
}

/* 新人有礼 */
#scroll_div3 {
	width:215px;
	position:absolute;
	top:0;
	left:-225px;
	border: 1px solid #dfdfdf;
	background:white;
}
#scroll_div3 .div3_top{
	background-image:url(../img/见面礼.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 215px;
	height: 178px;
	float: left;
}
#scroll_div3 .div3_center{
	width: 215px;
	height:126px;
	float: left;
	background-image:url(../img/新人有品.png);
	background-repeat:no-repeat;
	background-position:center;
}
#scroll_div3 .div3_bottom{
	width: 215px;
	height: 20px;
	float: left;
	text-align:center;
	font-size: 12px;
}

/* 关注微信 */
#scroll_div4 {
	width:210px;
	position:absolute;
	top:0;
	left:-220px;
	border: 1px solid #dfdfdf;
	background:white;
}
#scroll_div4 .div4_top{
	background-image:url(../img/新人有品.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 210px;
	height: 130px;
	float: left;
}
#scroll_div4 .div4_bottom{
	width: 210px;
	height: 40px;
	float: left;
	text-align:center;
	font-size: 12px;
}