/* 标签初始化样式 */
body,html{
	height:100%;
	width: 100%;
	font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
	}
body,p,h1,h2,h3,h4,h5,h6,dd{
	margin: 0;
	padding: 0;
	color: #333;
	}
ul,li,ol,dl,dd,dt{margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;color: #333333;}
form,input,button,textarea{
	margin: 0;
	padding: 0;
	outline: none;
	}
	img{
		display: block;
		border: 0 ;
	}
	.clearfix::after{
		content: '';
		display: block;
		clear: both;
	}