 /* 标签初始化 */
body,html{
	height: 100%;
	width: 100%;
	font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
body,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	color: #333;
}
ul,li,ol,dl,dt,dd{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
form,input,button,textarea{
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
}
img{
	display: block;
	border: 0;
}
/* 万能清浮动 */
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}












































