*{
	margin: 0;
	padding: 0;
}
.fr{
	float: left;
}
.fr{
	float: right;
}
ul,li{
	list-style: none;
}
.clearFloat::after{
	display: block;
	content: "";
	clear: both;
}
.box{
	width: 100%;
	height: 45px;
	background-color:#f5f5f5;
	line-height: 45px;
}
.box1{
	width: 1610px;
	height: 45px;
	margin: 0 auto;
}
.box1 .list1,.box1 .list2{
	list-style: none;
	margin-left: 102px;
	float: left;
}
.box1 .list1>li{
	font-size: 13px;
	position: relative;
	float: left;
	width: 106px;
	
}
.box1 .move{
	width: 114px;
	height: 37px;
	/* background-color: #FF6600; */
	margin-top: 3px;
	border: 2px solid #d9d9d9 ;
	line-height: 37px;
}
 .box1 .spa{
	display: block;
	float: left;
	width: 57px;
	height: 37px;
	background-color: #ff6600;
	color: #F5F5F5;
	text-align: center;
}
.box1 .list2{
	float: left;
}
.box1 .list2>li{
	float: left;
	font-size: 13px;
	margin-left: 18px;
	position: relative;
}
.box1 .l{
	color: #ff6600;
}
.box1 .list1 > li:hover{
	color: #FF6600;
	background-color: #fff;
}
.box1 .list1 li:hover div{
	display: block;
	transition: 0.5s;
}
.box1 .list2 li:hover div{
	display: block;
}
.box1 .pad{
	width: 1235px;
	height: 301px;
	position: absolute; 
	display: none;
	padding-top: 25px;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
	z-index: 9999;
}
 .box1 .pad1,.pad2{
	width: 205px;
	height: 155px;
	border: 1px solid #eee;
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	z-index: 9;
	
}
 .box1 .pad2{
	
	left: -100px;
}
.box1 .pl{
	list-style: none;
	margin-left: 5px;
	
}
.box1 .pad3{
	width: 796px;
	height: 230px;
	border: 1px solid #eee;
	position: absolute;
	left: -730px;
	display: none;
	z-index: 9;
	background-color: #FFFFFF;
}
.box1 .pl li{
	float: left;
	width: 100px;
	height: 30px;
	color: #666;
}
.box .box-rwm{
	float: left;
	width: 150px;
	margin: 16px 22px;
	
}
.box1 .box-rwm p{
	text-align: center;
	width: 150px;
	height: 30px;
	margin-top:-10px;
}
.box1 .pad-box{
	width: 245px;
	font-size: 14px;
	float: left;
	border-right: 1px solid #ccc;
	color: #666666;
	
}
.box1 .pad-box h3{
	margin-left:26px ;
}
.box1 .lis1{
	margin-left:26px ;
	margin-top: -10px;
	list-style: none;
}
.box1 .lis1 li{
	float: left;
	width: 80px;
	height: 38px;
}
 .box2{
	width: 100%;
	height: 118px;
	/* background-color: yellow; */
	padding-top: 20px;
}
.box2-pa{
	width: 1610px;
	height: 110px;
	margin: 0 auto;	
}
.box2-pa img{
	height: 110px;
	margin-top: 10px;
	float: left;
	margin-left:70px ;
	margin-top: -0px;
}
.box2-inp{
	width: 880px;
	height: 110px;
	/* background-color: aqua; */
	float: left;
	position: relative;
	margin-left: 20px;
}
.inp{
	width: 602px;
	height: 52px;
	outline: none;
	border: 2px solid #ff8000;
	border-radius:10px ;
	margin-top:30px ;
	font-size: 16px;
	padding-left: 30px;
}
.but{
	width: 135px;
	height: 56px;
	border-radius:0px 10px 10px 0;
	position: absolute;
	left:550px;
	top: 30px;
	border: none;
	color: #fff;
	font-size: 22px;
	background-color: #FF8000;
	
}
.box3{
	width: 100%;
	height: 38px;
	/* background-color: #FF8000; */
}
.box3-pa{
	width: 1610px;
	height: 38px;
	margin: 0 auto;
	/* background-color: aqua; */
}
.box3-pa img{
	height: 38px;
	margin: 0 420px;
	display: block;
}
.box4{width: 100%;height: 476px;background-color: #00FFFF;}
.box4-pa{
	width: 1610px;
	height: 476px;
	margin: 0 auto;
	/* background-color: aqua; */
	position: relative;
}
.lb{
	width: 794px;
	height: 476px;
	position: relative;
	z-index: 1;
	/* margin-left: 280px; */
}
.lbimg{
	position: absolute;
	left: 360px;  
				/* opacity: 0.3; */
				transition: 0.3s;
}
.lef,.rig{
	position: absolute;
	width: 30px;
	height: 70px;
	background-color: #000;
	color: #FFFFFF;
	line-height: 60px;
	font-size: 20px;
	opacity: 0.4;
	text-align: center;
	display: none;
}
.lef{
	top: 120px;
	left: 360px;
	
}
.rig{
	top: 120px;
	left:1124px;
}
.lb-box{
	width: 786px;
	height: 112px;
	position: absolute;
	/* background-color: #fff; */
	z-index: 9;
	margin-left: 3px;
	left: 360px;
	top: 359px;
}
.lb-box-pa{
	width: 194px;
	height: 112px;
	/* background-color: #FF0000; */
	float: left;
	margin-left: 3.3px;
}
.lb-box-pa img{
	width: 194px;
	height: 112px;
}
.box5{
	width: 100%;
	/* height: 10000px; */
	background-color: #f2f2f2;
}
.box5-pa{
	width: 1610px;
	/* height: 7000px; */
	margin: 0 auto;
	/* background-color: #FF0000;  */
}
.box5-img{
	/* background-color: #00FFFF; */
	position: relative;
	width: 1300px;
	margin-left: 172px;
}


.box5-pic{
	height: 223px;
	width: 1190px;
	background-color: #970df7;
	margin-left: 172px;
}
.list3{
	list-style: none;
	width: 1200px;
}
.list3 li{
	width: 230px;
	height: 213px;
	/* background-color: red; */
	float: left;
	margin-left: 10px;
}
.pic{
	width: 230px;
	height: 120px;
	vertical-align: bottom;
	
}
.list3 p{
	color: #ffffff;
	font-size: 22px;
	width: 93px;
	height: 30px;
	margin: 0 auto;
}
.box5-bottom{
	background-color: #c000f8;
	height: 89px;
	padding-top:9px ;
}
.bot{
	width: 166px;
	height: 32px;
	background-color: #FFFFFF;
	border-radius: 19px;
	text-align: center;
	line-height: 32px;
	margin: 16px auto;
	color: #ff353f;
}
.box5-xs{
	width: 1190px;
	height: 298px;
	margin-left: 172px;
	
	
	margin-top: 13px;
}
.xs-lef,.xs-rig{
	width: 590px;
	height: 298px;
	background-color: #FFFFFF;
	float: left;
	border-radius: 15px;
	margin-left: 5px;
}
.xs-lef-top{
	width: 590px;
	height: 60px;
	/* background-color: #00FFFF; */
}
.xs-lef-top>img{
	height: 40px;
	background-color: #00FFFF;
}
.xs-lef-top span{
	float: left;
	display: block;
	margin-top: 20px;
}
.xs-lef-top .sp{
	margin-left: 10px;
}
.xs-lef-top .s{
	width: 24px;
	height: 24px;
	color: #F5F5F5;
	background-color: #000000;
	text-align: center;
	line-height: 29px;
	margin-top: 16px;
}
.box5-sj{
	width: 144px;
	height: 24px;
	/* border-radius: 6px; */
	border: 1px solid #ef0027;
	margin-top: 14px;
	margin-right: 7px;
}
.box5-list{
	list-style: none;
}
.box5-list li{
	float: left;
	width: 72px;
	height: 24px;
	font-size: 14px;
	
	line-height:24px ;
	text-align: center;
	color: #EF0027;
	
}
.box5-list .li{
	background-color: #EF0027;
	color: #F2F2F2;
}
.xs-lef-buttom{
	width: 590px;
	height: 238px;
	/* background-color: #00FFFF; */
}
.lef-list{
	list-style: none;
	position: relative;
}
.lef-list li{
	position: absolute;
	left:0;
	top:0;

	
	margin-left:20px;
}
.lef-list img{
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.lef-list .dc{
	font-size: 14px;
	color: #333;
	margin-top:8px ;
}
.lef-list .price{
	color: #ff3300;
	margin-top:12px ;
	font-weight: bold;
	font-size: 20px;
}
.lef-list .lef-pic{
	width: 170px;
	height: 238px;
	/* margin-top: 10px; */
	margin-left: 15px;
	float: left;
	position: relative;
}
.lef-list .pa-box{
	position: absolute;
	width: 160px;
	height: 214px;
	display: none;
	top: 0;
	left: 0px;
	border-radius: 6px;
	background:rgba(0,0,0,0.3)
}
.lef-list .pa-box p{
	color: #F2F2F2;
	margin: -18px 0 0 18px;
}
.lef-list .lef-pic:hover .pa-box{
	display: block;
}
.rsp{
	color: #999;
	font-size: 14px;
	margin-right: 20px;
}
.pd{
	width: 1190px;
	height: 80px;
	background-color: #00FFFF;
	margin-left: 172px;
	
}
.pd img{
	width: 1190px;
	height: 80px;
}
.box-pd{
	width: 1190px;
	height: 510px;
	margin-left: 172px;
}
.cl-box{
	width: 390px;
	height: 245px;
	margin-right:10px;
	margin-bottom: 10px;
    background: #fff;		     overflow: hidden;
    border-radius: 12px;
	float: left;
}
.title{
	display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
}
.title .text{
	float: left;
	height: 37px;
	font-size: 26px;
	color: #333;
	font-weight: bold;
	margin: 11px 12px 0 16px;
}
.title .text:hover{
	color: #ff8000;
}
.title .sub-text {
    float: left;
    height: 22px;
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}
.title .sub-text:hover{
	color: #ff8000;
}
.content {
    width: 100%;
    height: 175px;
    overflow: hidden;
}
.box-pd .content a {
	display: block;
    width: 165px;
    height: 165px;
    margin-left: 20px;
	float: left;
}
 .content a img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.box5-pa .ts{
	width: 1190px;
	height: 146px;
	background-color: #00FFFF;
	margin-left: 172px;
	
}
.box5-pa .tj{
	width: 1190px;
	height: 80px;
	background-color: #00FFFF;
	margin-left: 172px;
	margin-top: 20px;
	}
.tj img{
	width: 1190px;
	height: 80px;
}
.box5-pa .lov{
	width: 1190px;
	/* height: 3209px; */
	
	margin-left: 172px;
	margin-top:0px;
}
.tab-nav{
    width: 100%;
    height: 70px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 12px;
	border-radius: 6px;
}
.nav-li{
	float: left;
    height: 70px;
   width: 170px;
    text-align: center;
    overflow: hidden;
    padding-top: 6px;
    cursor: pointer;
}
.text{
	 font-size: 15px;
	 font-weight: bold;
	 height: 24px;
	 letter-spacing: .5px;
	 color: #333;
	 line-height: 24px;
	 margin-bottom: 2px;
	 margin-left: 10px;
	 overflow: hidden;
	 display: inline-block;
	 position: relative;
	 padding: 0 10px;
}
.sub-text{
	font-size: 14px;
	height: 26px;
	width: 80px;
	color: #999;
	line-height: 26px;
	margin: 0 auto;
	padding: 0 10px;
	border-radius: 3px;
}
.tab-nav img{
	float: left;
    width: 20px;
	height: 20px;
	margin-top: 3px;
	margin-right: 3px;
}
.lis{
	width: 1190px;
	height: 7200px;
	
	/* margin-left: 172px; */
	margin-top:0px;
	position: relative;
}
.lis-list{
	position: absolute;
	width: 1300px;
}
.lis-list li{
	 position: relative;
	 float: left;
	 width: 230px;
	 height: 350px;
	 background: #fff;
	 margin: 0 10px 10px 0;
	 border-radius: 6px;
}
.lis-list li img{
	width: 230px;
	height: 230px;
    margin: 0 0 10px;
}
.lis-list a{
	text-decoration: none;
}
.lis-list .title{
	width: 202px;
    height: 40px;
	margin: 0 0 8px 14px;
    overflow: hidden;
    color: #333;
	font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
	word-break: break-all;
}
.lis-list .price{
	  line-height: 28px;
	  color: #F30;
	  font-size: 20px;
	  font-weight: bold;
	  margin-left: 10px;
}
i{
	font-size: 14px;
}
em,i{font-style: normal;}
.lis-list .cxicon{
	position: relative;
	width: 190px;
	height: 18px;
	margin-left: 14px;
	 overflow: hidden;
}
.lis-list .cxicon span{
	    position: relative;
	    zoom: 1;
	    display: block;
	    float: left;
	    padding: 0 2px;
	    height: 16px;
	    
	    color: #ff8000;
	    font: 14px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
	    background: #fff;
	    border: 1px solid #ff8000;
	    margin-right: 7px;
	    border-radius: 3px;
	    margin-bottom: 2px;
	    white-space: nowrap;
}
.ko{
	width: 20px;
	height: 20px;
}
 .box6{
	width: 100%;
	background: #f5f5f5;
	border-top: 1px solid #e7e7e7;
	 height: 300px;
	 
}
.box6-pa{
	margin: 0 auto;
    overflow: hidden;
	width: 1610px;
	
	margin-top: 28px;
}
.box6-pa .dic{
	margin-left: 172px;
	/* width: 944px; */
	padding: 12px 0;
	height: 73px;
    border-bottom: 1px solid #eaeaea;
}
.box6-pa dl{
	float: left;
	overflow: hidden;		    text-align: center;
	width: 230px;
}
.box6-pa dt{
	float: left;
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.box6-pa  img{
	width: 48px;
	height: 48px;
}
.box6-pa dd{
	 float: left;
	 height: 48px;
	    
	 text-align: left;
}
.box6-pa a{
	text-decoration: none;
}
.box6-pa strong{
	    font-weight: 700;
	    color: #222;
	    font-size: 14px;
}
.box6-pa p{
	line-height: 24px;
	 width: 100%;
	color: #545454;
	 font-size: 14px;
}
.lef-box{
	width: 1050px;
	float: left;
	height: 180px;
	margin-left: 172px;
}
.lef-box dl{
	float: left;
	height: 160px;
	width: 210px;
}
.lef-box dt{
	width: 100%;
	   line-height: 40px;
	    font-weight: 700;
	    color: #545454;
	    height: 35px;
	    font-size: 16px;
	    overflow: hidden;
		text-align: left;
}
.lef-box dd{
	    width: 100%;
	    line-height: 22px;
		color: #545454;
		font-size: 14px;
		height: 21.6px;
		overflow: hidden;
}
.lef-box dd:hover{
	color: orangered;
}
.rig-box{
	float: left;
	    height: 180px;
	    width: 90px;
}
.rig-box dl{
	float: left;
	height: 160px;
	width: 210px;
}
.rig-box dt{
	width: 100%;
	   line-height: 40px;
	    font-weight: 700;
	    color: #545454;
	    height: 35px;
	    font-size: 16px;
	    overflow: hidden;
		text-align: left;
}
.rig-box dd{
	    width: 105px;
		height:180px;
	    line-height: 22px;
		color: #545454;
		font-size: 14px;
		height: 21.6px;
		/* overflow: hidden; */
}
.box7{
	width: 100%;
	/* height: 227px; */
	padding-top: 15px;
	text-align: center
}
.box7-pd{
	width: 1290px;
	height: 210px;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
	/* background-color: #00FFFF; */
}
.p1,.p2{
	height: 25px;
	line-height: 25px;
	color: #666;
	font-size: 14px;
}
.p3,.p4,.p5,.p6,.p7{
	font-size: 12px;
	line-height: 25px;
    color: #999;
    height: 25px;
}
.img{
	width: 100%;
	/* background-color: #970DF7; */
	margin-top: 5px;
	/* height: 50px; */
}
.img img{
	height: 24px;
}
.i1,.i2,.i3{
	width: 76px;
	
}
.i4{width: 24px;}
.i5{width: 72px;}
.i6{width: 144px;}
.i7{width: 166px;}
.barlef,.barrig{
	width: 200px;
	height: 476px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 160px;
	z-index: 9;
}
.barrig{
	z-index: 1;
}
.barlef .index-list{
	position: absolute;
	left: 0;
	top: 1px;
	width: 200px;
	height: 476px;
	z-index: 7677;
}
.barlef .index-list>li{
	/* position: relative; */
	 width: 166px;
	  /* overflow: hidden; */
	  padding: 0 6px 0 28px;
	  height: 31px;
	  line-height: 29px;
}
.barlef .index-list>li:hover .ej{
	display: block;
}
.barlef .index-list>li:hover{
	background-color: #f3f3f3;
}
.barlef .index-list li > a:hover{
	color: #ff6600;
}
.barlef .pic{
	/* position: absolute; */
	width: 16px;
	height: 16px;
	/* left: 6px;
	 top: 7px; */
	
	 margin:0px 0 0 -20px;
	 vertical-align: middle;
}
.barlef a{
	/* display: inline-block; */
	   vertical-align: middle;
	    color: #000;
	    font-size: 14px;
	    text-decoration: none;
	    /* letter-spacing: 1px; */
}
.ej{
	position: absolute;
	 left: 200px;
	 top: 0;
	 height: 476px;
	 width: 989px;
	 /* overflow: hidden; */
	 background: #fff;
	 z-index:7777;
	 display: none;
}
.ej .sort-btn{
	float: left;
	    width: 686px;
	    height: 24px;
	    margin: 10px 0 0 8px;
	    overflow: hidden;
}
.ej .sort-btn a{
	float: left;
	    height: 24px;
	    margin-left: 18px;
	    padding: 0 10px;
	    color: #FFF;
	    line-height: 24px;
	    text-align: center;
	    background: #ff8000;
	    text-decoration: none;
	    border-radius: 4px;
	    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
		/* background: rgb(50, 103, 255); */
}
.ej .cate-list{
	width: 580px;
	margin: 10px 0 0 0;
	    padding-left: 20px;
	    /* overflow: hidden; */
	    float: left;
}
.cate-list dl{
	float: left;
	    height: auto;
	    /* overflow: hidden; */
		width: 750px;
}
.cate-list dt{
	float: left;
	width: 84px;
	height: 20px;
	line-height: 20px;
	font-weight: 700;
	padding-left: 10px;
	padding-top: 8px;
	font-size: 13px;
}
.cate-list a{
	color: #000;
	margin-right: 10px;
	display: inline-block;
	font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
	text-decoration: none;
	font-size: 12px;
}
.cate-list .oran{
	color: rgb(50, 103, 255);
}
.cate-list dd{
	float: left;
	width: 650px;
	font: 12px/1.5 arial,tahoma,\5b8b\4f53;
	line-height: 20px;
	border-bottom: 1px solid #eee;
	margin-top: 8px;
	padding-bottom: 8px;
}
.ej .actshow{
	position: absolute;
	right: 0;
	top: 0;
	width: 196px;
	height: 100%;
	z-index: 999;
	background:#F3F3F3;
}
.actshow .banlist{
	width: 182px;
	margin: 10px 0 0 8px;
}
.banlist img{
	width: 90px;
	height: 38px;
	margin: 0 auto;
	/* display: block; */
}
.actshow .banlist a{
	float: left;
	width: 90px;
	height: 38px;
	margin: 0 1px 1px 0;
	padding-top: 7px;
	background: #FFF;
}
.actshow .actlist{
	 width: 180px;
	 margin: 11px 0 0 8px;
}
.actshow .actlist img{
	    width: 180px;
	    height: 100px;
	    margin-bottom: 5px;
	    overflow: hidden;
}
.barrig .top-box{
	/* overflow: hidden;  */
	    position: relative;
	    width: 196px;
	    height: 225px;
}
.user-img{
	position: absolute;
	    width: 48px;
	    height: 48px;
	    left: 10px;
	    top: 10px;
	    background: url(../img/sn.png);
	    z-index: 1;
	    border: 1px solid #f7f7f7;
	    border-radius: 50%;
	   
}
.top-box .text{
	float: left;
	    margin-top: 15px;
	    margin-left: 66px;
	    width: 125px;
	    height: 46px;
	    font-size: 12px;
	    color: #333;
}
.top-box .text .a{
	text-decoration: none;
	color: #333;
}
.top-box .new{
	 color: #fff;
	   margin-top: 70px;
	  background: #ff8000;
		display: block;
		 width: 156px;
		 height: 24px;
		 border-radius: 3px;
		 text-align: center;
		 line-height: 24px;
		 margin-left: 20px;
		 font-size: 12px;
		 text-decoration: none;
}
.top-box .sup{
	     color: #fada99;
	   margin-top: 15px;
	  background: #17125b;
		display: block;
		 width: 156px;
		 height: 24px;
		 border-radius: 3px;
		 text-align: center;
		 line-height: 24px;
		 margin-left: 20px;
		 font-size: 12px;
		 text-decoration: none;
}
.top-box .the{
	position: absolute;
	    width: 196px;
	    height: 85px;
	    left: 0;
	    bottom: 0;
	    background:#fff;
}
.the a{
	float: left;
	width: 65px;
	height: 85px;
	text-decoration: none;
}
.the img{
	display: block;
    width: 36px;			         
	height: 36px;
	margin: 6px auto; 
}
.the p{
	height: 20px;
	width: 66px;
	line-height: 20px;
    font-size: 14px;
	color: #333;
	text-align: center;
}
.barrig .bot-box{
	position: relative;
	height: 250px;
	width: 196px;
	border-top: 1px solid #f2f2f2;
}
.barrig .bot-box ul{
	margin-right: -2px;
}
.barrig .bot-box li{
	float: left;
	width: 63px;
	height: 85px;
	/* width: 60px; */
	border: 0.1px solid #f2f2f2;
}
.bot-box a{
	text-decoration: none;
	color: #333333;
}
.bot-box img{
	display: block;
	    width: 26px;
	    height: 26px;
	    margin: 12px 20px;
}
.bot-box p{
	text-align: center;
	    color: #333;
	    font-size: 14px;
	    height: 20px;
	    line-height: 20px;
	    max-width: 66px;
	    overflow: hidden;
}
.floatbar{
	position: fixed;
	top: 150px;
	left: 80px;
	width: 80px;
	/* height: 300px; */
	padding-top: 9px;
	border: 1px solid #DDD;
	background: #f8f8f8;
	display: none;
}
.floatbar .pic{
	position: absolute;
	    width: 42px;
	    height: 41px;
	    left: 19px;
	    top: -35px;
}
.floatbar li{
	    width: 80px;
	    height: 28px;
	    border-bottom: 1px solid #e8e8e8;
	    text-align: center;
	    line-height: 28px;
	    cursor: pointer;
	font-size: 13px;
}
.floatbar .on{
	background-color: #FF8000;
	color: #fff;
}
.floatbar a{
	display: block;
	width: 68px;
	height: 28px;
	line-height: 28px;
	 text-align: center;
	 text-decoration: none;
}
.floatbar li:hover{
	background-color: #FF8000;
	color: #fff;
}
.index-sort{
	position: absolute;
	height: 38px;
	top: -38px;
	width: 100%;
	left: 0px;
	background: #ff8000;
	/* color: #fff;
	font-size: 15px;
	font-weight: bold; */
	border-radius: 12px 12px 0 0;
}

.index-sort>a{
	/* display: block; */
	padding-left: 27px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	text-decoration: none;
}
.ng-bar{
	position: fixed;
	/* display: none; */
	 height: 50px;
	 width: 100%;
	 top: 0;
	 /* min-width: 990px; */
	 background: #fff;
	 display: none;
	/* position: relative; */
}
.index-list>a{
	vertical-align: middle;
	    color: #000;
	    font-size: 12px;
	    text-decoration: none;
}
.index-list em{
	color: #000000;
}

.ng-bar .barlef{
	display: none;
}
.ng-bar .index-sort:hover .barlef{
	display: block;
}
.tab-nav .on{
	background-color: #ff8000;
	color: #fff;
}
.tab-nav .onn{
	color:#ff8000 ;
}
.tab-nav .pic,.tab-nav .pc{
	position: absolute;
}
.tab-nav .pc{
	display: none;
	margin-left: 37px;
}
